<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="local-packages" value="./Nupkg" />
        <add key="github_elementlogic" value="https://nuget.pkg.github.com/Element-Logic/index.json" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>

	<packageSourceMapping>
		<!-- key value for <packageSource> should match key values from <packageSources> element -->
		<packageSource key="github_elementlogic">
			<package pattern="eController.*" />
			<package pattern="ePlugin.*" />
			<package pattern="eMessenger" />
			<package pattern="eMessenger.*" />
			<package pattern="ElementLogic.*" />
			<package pattern="Microsoft.Css.Parser" />
			<package pattern="ElUI.*" />
		</packageSource>

		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>
